:root {
  --primary-color: rgb(128, 0, 128);
  --secondary-color: rgb(252, 246, 254);
  --heading-color: rgb(39, 33, 66);
  --accent-color: rgb(246, 82, 130);
  --text-color: rgba(39, 33, 66, 0.4);
}

body {
  background: var(--secondary-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

.Weather {
  background: white;
  border-radius: 10px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  padding: 25px;
}

.Weather .form-control {
  background: var(--secondary-color);
  border: none;
  border-radius: 10px;
  outline: var(--primary-color);
  padding: 10px;
}

.Weather .submit-btn {
  background: var(--primary-color);
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  transition: all 100ms ease-in-out;
}

.Weather .submit-btn:hover {
  cursor: pointer;
  filter: opacity(85%);
}

.Weather h1 {
  color: var(--heading-color);
  font-size: 38px;
  font-weight: 700;
  margin: 20px 0 5px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  list-style: none;
}

.Weather .weather-details {
  color: var(--accent-color);
}

.Weather canvas {
  margin: 4px 10px 0 0;
}

.Weather .temperature {
  color: var(--heading-color);
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
}

.Weather .unit {
  color: var(--heading-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  position: relative;
  top: -34px;
}